<ion-header>

  <ion-navbar>
    <ion-title>Membership</ion-title>



  </ion-navbar>



  <ion-card class="membership-card-container">
    <ion-card-header class="membership-card-header">
      <div class="membership-card-header-main">
        <h2>{{profileProvider.localProfile.FullName}}</h2>
        <p>#{{profileProvider.localProfile.IdentityID}}</p>
        <!-- <p>Member since 12/10/2015</p> -->
        <p>Member since {{(membership$ | async)?.StartDate}}</p>
      </div>
      <div class="membership-card-header-action">
        <button ion-button>Suspent
          <br>Membership</button>
      </div>
      <div class="membership-card-header-sub">
        <p>Current subscription</p>
        <h2 *ngIf="(membership$ | async)?.Period == 360">1 year membership</h2>
        <h2 *ngIf="(membership$ | async)?.Period != 360">{{(membership$ | async)?.Period }}days</h2>
        <p>{{(membership$ | async)?.BranchName}}</p>
      </div>

      <div class="membership-card-header-footer">
        <p>{{(membership$ | async)?.EndDate}}</p>
      </div>
    </ion-card-header>


    <!-- <ion-card class="membership-card-trainer">
      <ion-row>
        <ion-col col-auto>
          <p>Trainer:</p>
        </ion-col>
        <ion-col col-auto>
          <h2>Hend Assaf</h2>
        </ion-col>
        <ion-col>
          <button ion-button clear>Request change</button>
        </ion-col>
      </ion-row>
    </ion-card> -->

    <div class="membership-card-checks">
      <h2>Included</h2>

      <ng-container *ngFor="let service of (membership$ | async)?.Services">
        <p>{{service.NumberOfServices}}X {{service.ServiceName}}</p>
        <ion-row>
          <ion-icon *ngFor="let i of service.repeatByNumberOfServices" name="ios-checkmark-circle"></ion-icon>
        </ion-row>
      </ng-container>

      <!-- <p>Emboady measuerments X3</p>
      <ion-row>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
      </ion-row>

      <p>Swedish Massage X4</p>
      <ion-row>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
      </ion-row>


      <p>Nutrition consultaion X1</p>
      <ion-row>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
      </ion-row>


      <p>Friends invitations X6</p>
      <ion-row>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
      </ion-row> -->
    </div>
  </ion-card>


</ion-header>


<ion-content>

</ion-content>
