page-login {
  ion-content {
    &.content.content-md,
    &.content.content-ios {
      font-family: "29ltbukralight";
      background-size: 100%!important;
      background-repeat: no-repeat!important;
      background-position: center!important;

      &.slide-0 {
        background: url(../assets/imgs/slide0.png) !important;
        font-family: "29ltbukralight";
      background-size: 100%!important;
      background-repeat: no-repeat!important;
      background-position: center!important;
        .scroll-content {
          background: rgba(0, 0, 0, 0.8) !important;

        }
      }
      &.slide-1 {
        background: url(../assets/imgs/slide1.png) !important;
        font-family: "29ltbukralight";
      background-size: 100%!important;
      background-repeat: no-repeat!important;
      background-position: center!important;
        .scroll-content {
          background: rgba(0, 0, 0, 0.8) !important;
        }
      }
      &.slide-2 {
        background: url(../assets/imgs/slide2.png) !important;
        font-family: "29ltbukralight";
      background-size: 100%!important;
      background-repeat: no-repeat!important;
      background-position: center!important;
        .scroll-content {
          background: rgba(0, 0, 0, 0.8) !important;
        }
      }
      &.slide-3,
      &.slide-4,
      &.slide-5 {
        background: url(../assets/imgs/slide3.png) !important;
        font-family: "29ltbukralight";
      background-size: 100%!important;
      background-repeat: no-repeat!important;
      background-position: center!important;
        .scroll-content {
          background: rgba(0, 0, 0, 0.8) !important;
        }
      }
      .scroll-content {
        font-family: "29ltbukralight";
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .login-img-container {
    height: 25vh;
    justify-content: center;
    align-items: center;
    img {
      width: auto;
      height: 35%;

    }
  }

  #activeBtn {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 2em;
    color: #000!important;

    &.button-md {
      font-size: 1.5em;
    }

    &:disabled {
      color: #000!important;
    }
  }

  #lv-activeBtn {
    padding: 0 2em;
    color: white!important;
    background: linear-gradient(90deg, #0193a0, #21c1ca);
  }

  ion-row {
    justify-content: center;
    align-items: center;
  }

  .gray-note {
    color: #999;
    margin: 0;
    p {
      margin: 0;
    }

    button {
      color: black;
      font-size: 0.9em;
      text-transform: capitalize;
    }
  }

  .shadow-input {
    width: 85%;
    background: white;
    margin: 1.5em auto;
    padding: 0em!important;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    border-radius: 0.2em;


    ion-col {
      width: 100%;
      ion-input {
        width: 100%;
      }
    }

    &.gray {
      background: #eeeeee;
      box-shadow: none;
    }

    ion-icon {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ion-input,
    ion-icon,
    button {
      margin: 0 auto;
      padding: 0;
      color: #555;

      &[disabled] {
        color: #999;
      }
    }
    button {
      font-size: 0.8em;
      text-transform: capitalize;
      color: #555;
    }
    ion-icon {
      font-size: 2em;
    }

    ::placeholder {
      color: #999;
      text-align: right;
      font-weight: lighter;
    }
  }

  .slide-img {
    background: transparent;
    position: absolute;
    top: 5vh;
    right: 5vh;
    // height: 30vh;

    img {
      width: auto;
      height: 5vh;
    }
  }

  .slide-button {
    background: transparent;

    button {
      border: 1px solid white !important;
      background: transparent !important;
      color: white !important;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }
  }
  ion-slides {
    height: 80vh;
    margin: 0;
    padding: 0!important;
    margin-bottom: 4vh;
    ion-slide {
      .slide-texts {
        // grid-row: 2/3;
        color: white;
        h2 {
          padding-top: 40vh;
        }

        p {
          font-size: .7em;
        }
      }
      .swiper-pagination {
        // grid-row: 3/4;
      }
    }

    .swiper-pagination-bullet {
      background: transparent;
      border: 1px solid white;
      &.swiper-pagination-bullet-active {
        background: #02b0bf;
        border: 1px solid transparent;
      }
    }
  }
}
