<!--
  Generated template for the ServicesBookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [dir]="lang">

  <ion-navbar>
    <ion-title>{{"Services booking" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [dir]="lang">
  <!-- ID": "189",
      "Date": "2018-02-18 19:40:00",
      "BranchID": "1",
      "BranchName": "لافا حي القدس",
      "MassagerID": "83",
      "MassagerName": "فاطمة صلاح" -->
  <ion-card *ngFor="let service of (services$ | async)?.data">

    <ion-card-header>
      <ion-row>
        <ion-col col-9>
          <div>
            <p>
              <span>{{"service" | translate}}:</span> Message</p>
            <p>
              <span>{{"Branch" | translate}}:</span> {{service.BranchName}}</p>
          </div>
        </ion-col>
        <ion-col col-3>
          <button (click)="book(service)" ion-button clear>
            <p>{{"book" | translate}}</p>
          </button>
        </ion-col>
      </ion-row>

    </ion-card-header>
    <ion-card-content padding>
      <p>
        <span>{{"Massager" | translate}}:</span> {{service.MassagerName}}</p>
      <p>
        <span>{{"Date" | translate}}:</span> {{service.Date}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!(services$ | async)?.data || !(services$ | async)?.data.length">

    <ion-card-header class="info">
      <p>
        <span>{{"Info" | translate}}:</span> {{"No items available for now" | translate}}</p>
    </ion-card-header>
    <ion-card-content padding>
      <p>
        {{"Please try to change the date, or the massager" | translate}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
