page-heart {
  $sch: 202;
  $scw: 93.8;
  // .fixed-content {
  //   z-index: -2 !important;
  // }

  * {
    // margin: 0 !important;
    padding: 0 !important;
  }

  ion-card {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.125) !important;
  }

  .header.header-md,
  .header.header-ios {
    position: relative;
    width: 100%;
    height: 38.1 / $sch * 100vh;
    box-shadow: 0 !important;

    background: transparent;
    // background: url(../assets/imgs/booking-back.png);
    // background-size: contain;
    // background-position: top center;
    // background-repeat: no-repeat;

    &:after {
      background-image: none !important;
    }

    .toolbar.toolbar-md,
    .toolbar.toolbar-ios {
      margin: 2.5vh 0!important;
      // padding: 2.5vh 0 !important;

      .toolbar-title.toolbar-title-md,
      .toolbar-title.toolbar-title-ios {
        color: #ffffff;
        font-size: calc(calc(4.3 / $sch * 100vh) / $scw * 100vw);
        font-family: "AvenirLTStd-Heavy" !important;

        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      }

      .toolbar-background.toolbar-background-ios {
        border: none !important;

        background: transparent;
      }

      ion-icon.back-button-icon.icon {
        color: white !important;
      }
    }
  }

  // .scroll-content {
  //   position: relative;

  //   padding: 0 !important;
  //   margin: 0 !important;
  //   padding-top: 0 !important;
  //   margin-top: 38.1 / $sch * 100vh !important;
  //   z-index: 999;
  // }

  .scroll-content {
    padding-top: 28.1 / $sch * 100vh !important;

    margin-top: 0 / $sch * 100vh !important;

    background: url(../assets/imgs/booking-back.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .today-container {
    height: 14.1vh;

    display: flex;
    justify-content: space-between;

    position: relative;

    .today {
      position: absolute;
      // top: 0;
      // left: 5 / $scw * 100vw;
      @include position(0, 5 / $scw * 100vw, null, null);
      height: 100%;

      display: flex;
      align-items: center;

      font-size: 3.5 / $scw * 100vw;
      color: #575c69;

      text-align: center;
    }

    .circle {
      position: absolute;
      width: 18 / $scw * 100vw;

      // left: 37.3 / $scw * 100vw;
      @include position(null, 37.3 / $scw * 100vw, null, null);

      &.one {
        // left: 18 / $scw * 100vw;
        @include position(null, 18 / $scw * 100vw, null, null);
      }
      &.two {
        // left: 37 / $scw * 100vw;
        @include position(null, 37 / $scw * 100vw, null, null);
      }
      &.three {
        // left: 55.8 / $scw * 100vw;
        @include position(null, 55.8 / $scw * 100vw, null, null);
      }

      img {
        width: auto;
        height: 18 / $scw * 100vw;
        position: absolute;
        // top: 1.3 / $sch * 100vh;
        // left: 0;
        @include position(1.3 / $sch * 100vh, 0, null, null);
      }

      .steps-num {
        width: 100%;
        text-align: center;
        color: #22c3cc;
        font-size: 3.3 / $scw * 100vw;

        position: absolute;
        top: (9.5) / $sch * 100vh;
      }

      .steps-text {
        width: 100%;
        text-align: center;
        color: #9b9b9b;
        font-size: 2 / $scw * 100vw;
        position: absolute;
        top: (13.5) / $sch * 100vh;
      }

      .steps-goal {
        width: 100%;
        text-align: center;
        color: #9b9b9b;
        font-size: 1.8 / $scw * 100vw;
        position: absolute;
        top: (19.5) / $sch * 100vh;
      }
    }
    .workouts {
      position: absolute;
      width: 12.5 / $scw * 100vw;
      // left: 20.8 / $scw * 100vw;
      @include position(null, 20.8 / $scw * 100vw, null, null);

      button {
        position: absolute;
        top: 5.8 / $sch * 100vh;
        color: #22c3cc;
        width: 100%;
        height: 4.8 / $scw * 100vw;
        padding: 0;
        margin: 0;

        ion-icon {
          width: 4.8 / $scw * 100vw;
          height: 4.8 / $scw * 100vw;
          color: #22c3cc;
        }
      }

      .workout-number {
        position: absolute;

        font-size: 2.5 / $scw * 100vw;
        top: 12.8 / $sch * 100vh;

        color: #575c69;

        &.gray {
          font-size: 2 / $scw * 100vw;
          top: 15.8 / $sch * 100vh;

          color: #9b9b9b;

          text-align: center;
        width: 100%;

        }
      }

      .avg {
        position: absolute;

        font-size: 2.5 / $scw * 100vw;
        top: 8 / $sch * 100vh;

        color: #575c69;
        text-align: center;

        width: 100%;
      }

      .workout-row {
        position: absolute;
        top: 16.3 / $sch * 100vh;

        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        width: 100%;
        p {
          font-size: 2.5 / $scw * 100vw;
          color: #575c69;
        }
        img {
          width: 4.8 / $scw * 100vw;
          height: 4.8 / $scw * 100vw;
          color: #22c3cc;
        }
      }
    }

    .floors {
      position: absolute;
      // top: 8.5 / $sch * 100vh;
      // right: 11 / $scw * 100vw;
      @include position(8.5 / $sch * 100vh, null, null,  11 / $scw * 100vw);


      p {
        margin: 0;
        padding: 0;

        font-size: 3 / $scw * 100vw;
        color: #575c69;

        width: 100%;
        text-align: center;
      }
    }
  }

  ion-segment {
    width: (19.3 * 3) / $scw * 100vw;
    // height: 7.1 / $sch * 100vh !important;
    margin: 0 auto;
    margin-top: 8 / $sch * 100vh;
    z-index: 10;

    ion-segment-button {
      font-size: 3.3 / $scw * 100vw !important;
      padding: 0 !important;
      height: 7.1 / $sch * 100vh !important;
      text-align: center;

      display: flex !important;
      align-items: center;
      justify-content: center;
    }
  }

  ion-select {
    width: 17.3 / $scw * 100vw;
    height: 6.5 / $sch * 100vh;
    font-size: 3.3 / $scw * 100vw !important;
    background: #22c3cc;

    border-radius: 1 / $scw * 100vw !important;

    padding: 2 / $scw * 100vw !important;
    // margin: 0 !important;
    // margin-left: 100vw - ((17.3 + 7.8) / $scw * 100vw) !important;
    // margin-top: 9 / $sch * 100vh !important;
    color: white;

    display: flex !important;
    justify-content: center;
    align-items: center;

    @include margin(9 / $sch * 100vh !important, 100vw - ((17.3 + 7.8) / $scw * 100vw) !important, null, null);

    * {
      color: white !important;
      max-height: 6.5 / $sch * 100vh !important;
    }
  }

  .history-chart {
    position: relative;
    margin-top: 3 / $sch * 100vh !important;

    button {
      position: absolute;
      top: -0 / $sch * 100vh;
      right: 7.75 / $scw * 100vw;

      padding: 0 !important;
      margin: 0 !important;

      background: #f4ce5f !important;
      width: 8 / $scw * 100vw;
      height: 8 / $scw * 100vw;
      border-radius: 50%;

      img {
        width: 50%;
        height: 50%;
      }
    }
  }
}
