<ion-header>

  <ion-navbar>
    <ion-title>Performance</ion-title>

  </ion-navbar>


</ion-header>
<ion-content>
  <ion-card class="today-container">
    <p class="today">Today</p>

    <div class="workouts">
      <button ion-button clear>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
      </button>
      <p class="workout-number">.. workout</p>
      <ion-row class="workout-row">
        <img src="assets/icon/workout.svg" />
        <p>..</p>
      </ion-row>
    </div>

    <div class="circle">
      <img src="assets/imgs/circle.svg">
      <p class="steps-num">{{mySteps || 0}}</p>
      <p class="steps-text">steps</p>
      <p class="steps-goal"></p>

    </div>

    <div class="floors">
      <p>{{myDistance || 0}}</p>
      <p>Distance</p>
    </div>


  </ion-card>

  <ion-card class="today-container">
    <p class="today">This
      <br>week</p>

    <div class="circle one">
      <img src="assets/imgs/circle.svg">
      <p class="steps-num">..</p>
      <p class="steps-text">workouts</p>
      <p class="steps-goal">.. days</p>

    </div>
    <div class="circle two">
      <img src="assets/imgs/circle.svg">
      <p class="steps-num">{{myWeekSteps || 0}}</p>
      <p class="steps-text">steps</p>
      <p class="steps-goal"></p>

    </div>


    <div class="floors">
      <p>{{myWeekDistance || 0}}</p>
      <p>Distance</p>
    </div>


  </ion-card>

  <ion-card class="today-container">
    <p class="today">This
      <br>month</p>

    <div class="workouts">
      <p class="avg">Avg.
        <br>..</p>
      <p class="workout-number gray">Workout
        <br>per week</p>
    </div>

    <div class="circle two">
      <img src="assets/imgs/circle.svg">
      <p class="steps-num">..</p>
      <p class="steps-text">workouts</p>
      <p class="steps-goal">.. days</p>

    </div>
    <div class="circle three">
      <img src="assets/imgs/circle.svg">
      <p class="steps-num">{{myMonthSteps || 0}}</p>
      <p class="steps-text">steps</p>
      <p class="steps-goal"></p>

    </div>

  </ion-card>

  <ion-segment [(ngModel)]="selectedSegment" color="lava">
    <ion-segment-button value="workouts">
      Workouts
    </ion-segment-button>
    <ion-segment-button value="steps">
      steps
    </ion-segment-button>
  </ion-segment>

  <ion-select [(ngModel)]="selectedOption">
    <ion-option value="weeks">Week</ion-option>
    <ion-option value="months">Month</ion-option>
  </ion-select>
  <div [ngSwitch]="selectedSegment">
    <div class="history-chart" *ngSwitchCase="'workouts'">
      <button ion-button clear>
        <img src="assets/imgs/_expand@2x.png">
      </button>
      <chart [type]="workoutChart.type" *ngIf="selectedOption == 'weeks'" [data]="workoutChart.weeksData" [options]="workoutChart.options"></chart>
      <chart [type]="workoutChart.type" *ngIf="selectedOption == 'months'"  [data]="workoutChart.monthsData" [options]="workoutChart.options"></chart>
    </div>
    <div class="history-chart" *ngSwitchCase="'steps'" >
      <button ion-button clear>
        <img src="assets/imgs/_expand@2x.png">
      </button>
      <chart [type]="stepsChart.type" *ngIf="selectedOption == 'weeks'" [data]="stepsChart.weeksData" [options]="stepsChart.options"></chart>
      <chart [type]="stepsChart.type" *ngIf="selectedOption == 'months'"  [data]="stepsChart.monthsData" [options]="stepsChart.options"></chart>
    </div>
  </div>


</ion-content>
