page-signup-done-modal {
  .done {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap column;
    height: 100%;
    img {
      width: 5em;
      height: 5em;
    }
  }
}
