page-home {
  .fixed-content {
    z-index: -2 !important;
  }

  .ion-page.show-page {
  }

  .header.header-md,
  .header.header-ios {
    font-family: "AvenirLTStd-light", Arial, Helvetica, sans-serif;
    height: calc(47vh);
    background: transparent;

    background: url(../assets/imgs/home-back.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    // background-color: #0193a0;

    width: 100%;
    box-shadow: 0 !important;

    position: relative;

    .in-header {
      width: 100%;
      height: 100%;
      background-image: url(../assets/imgs/wave.png);

      background-size: auto 120%;
      background-position: center 27vh;
      background-repeat: no-repeat;
    }

    * {
      padding: 0;
      margin: 0;
    }

    &:after {
      background-image: none !important;
    }

    .user-name {
      font-family: "29ltbukraregular", "AvenirLTStd-Medium", Arial, Helvetica,
        sans-serif;

      position: absolute;

      font-size: 6vw;
      // font-size: 6.13vw;
      font-weight: 500;
      color: #ffffff;
      top: 7vh;
      // top: 7.4vh;
      width: 100%;
      text-align: center;
    }
    .user-active {
      position: absolute;

      font-size: 2.37vw;
      font-weight: normal;
      color: #9dd9df;
      top: 12vh;
      // top: 11.64vh;
      width: 100%;
      text-align: center;
    }

    .user-today {
      position: absolute;

      font-size: 3.19vw;
      font-weight: 500;
      color: #ffffff;
      top: 16.46vh;
      width: 100%;
      text-align: center;
    }

    .user-floors-img {
      width: 7.16vw;
      height: 4.31vh;

      padding-bottom: 1.5vh !important;
    }
    .user-floors-text {
      font-size: 2.37vw;
      font-weight: 500;
      color: #9dd9df;
      margin: 0.5vh 0 !important;
    }
    .user-floors-number {
      font-size: 5.88vw;
      font-weight: 500;
      // font-weight: 900;
      color: #ffffff;
    }

    .user-steps-img {
      @extend .user-floors-img;
      padding-bottom: 0 !important;

      right: 13.68vw;
      width: 5.75vw;
      left: auto;
    }
    .user-steps-text {
      @extend .user-floors-text;
      right: 13.68vw;
      left: auto;
    }
    .user-steps-number {
      @extend .user-floors-number;
      right: 14.19vw;
      left: auto;
    }

    .user-circle {
      position: absolute;

      width: 33.5vw;
      height: 18.83vh;
      top: 20.7vh;
      left: 33.24vw;
      // overflow: hidden;

      .user-circle-progress {
        max-width: 90% !important;
        max-height: 100%;
        margin: 0 auto;
      }
      .user-circle-number {
        position: absolute;

        font-size: 11.5vw;
        font-weight: normal;
        color: #ffffff;
        top: 3.5vh;
        // top: 6.39vh;
        width: 100%;
        text-align: center;
      }
      .user-circle-days {
        position: absolute;

        font-size: 2.8vw;
        font-weight: 300;
        color: #ffffff;
        top: 11vh;
        // top: 13.2vh;
        width: 100%;
        text-align: center;
      }
    }

    .user-goal {
      position: absolute;

      font-size: 2.37vw;
      font-weight: 500;
      color: #9dd9df;
      top: 40.97vh;
      width: 100%;
      text-align: center;
    }
  }

  .header.header-md {
    .user-goal {
      position: absolute;

      font-size: 2.37vw;
      font-weight: 500;
      color: #9dd9df;
      top: 42.97vh !important;
      width: 100%;
      text-align: center;
    }
  }

  .scroll-content {
    position: relative;

    padding: 0 !important;
    margin: 0 !important;
    // margin-top: calc(47vh) !important;
    @include margin(calc(47vh) !important, null, null, null);

    z-index: 999;

    height: 100%;
    width: 100%;

    * {
      padding: 0 !important;
      margin: 0 !important;
    }

    .workout-section-title {
      position: absolute;
      width: 90%;

      font-size: 4.55vw;
      font-weight: 500;
      color: #575c69;

      top: 3.16vh;
      left: 3.58vw;
    }

    .workout-section-slides {
      position: absolute;

      // top: 4.96vh;
      width: 100%;
      height: 20.41vh;
      @include margin(4.96vh !important, null, null, null);

      .workout-section-slides-slide {
        position: relative;

        background: white;
        height: 14.16vh;
        // width: 39.25vw !important;
        // margin:  0 0 0 !important;
        // margin-left: 1.66vw !important;
        @include margin(
          2.73vh!important,
          1.66vw !important,
          3.52vh !important,
          null
        );

        // @include margin(
        //   2.73vh !important,
        //   1.66vw !important,
        //   3.52vh !important,
        //   1.5vh !important
        // );

        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        border-radius: 1vw;

        &:first-of-type {
          // margin-left: 3.32vw !important;
          @include margin(null, 3.32vw !important, null, 3.32vw !important);
        }

        .workout-title {
          position: absolute;

          font-family: "29ltbukraregular", "AvenirLTStd-Medium", Arial,
            Helvetica, sans-serif;
          font-size: 2.5vw;
          font-weight: bolder;

          color: #575c69;

          @include position(1.72vh, 2.04vw, auto, auto);

          // left: 2.04vw;
          // top: 1.72vh;

        }
        .workout-row {
          position: absolute;

          font-size: 2vw;
          font-weight: 500;
          width: 100%;
          // background: red;
          // left: 2.04vw;
          // top: 3.81vh;
          @include position(3.81vh, 2.04vw, auto, auto);

          color: #9b9b9b;
          ion-col {
            &:first-of-type {
              // border-right: 1px solid #9b9b9b;;

              p {
                width: 100%;
                text-align: left;
              }
            }

            p {
              width: 100%;
              text-align: center;
            }
          }
        }
        .workout-wk {
          position: absolute;

          font-size: 2.2vw;
          font-weight: 500;
          // background: red;
          // left: 2.42vw;
          // top: 9.48vh;
          color: #575c69;

          @include position(9.48vh, 2.42vw, auto, auto);
        }
        .workout-state {
          position: absolute;

          font-size: 2.2vw;
          font-weight: 500;
          // background: red;
          // left: 2.81vw;
          // top: 11.35vh;
          color: #575c69;
          @include position(11.35vh, 2.81vw, auto, auto);
        }
      }
    }

    .bookings-section-title {
      @extend .workout-section-title;
      // top: 27.67vh;
      @include position(27.67vh !important, null, null, null);
    }
    .bookings-section-slides {
      @extend .workout-section-slides;
      // top: 30.69vh;
      @include position(23.69vh !important, null, null, null);
      height: 14.45vh;

      .bookings-section-slides-slide {
        @extend .workout-section-slides-slide;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        width: (30.64 - 2vw) !important;
        height: 8.19vh;

        // margin-left: 2 + 2vw !important;
        @include margin(null, 2 + 2vw !important, null, null);

        &:first-of-type {
          width: 8.19vh !important;
          background: transparent;
          box-shadow: none;
          border: 1px solid #9b9b9b;
          // margin-left: 3.32vw !important;
          ion-icon {
            font-size: 4.58vh !important;
            color: #575c69;
          }
        }

        .bookings-title {
          @extend .workout-title;
          position: absolute;

          // top: 1.72vh;
          // left: 5.37vw;
          @include position(1.72vh, 5.37vw, null, null);

          color: #575c69;

          &::before {
            position: absolute;
            content: "•";
            display: block;
            left: -3.5vw;

            font-size: 4vw;
            color: yellow;
          }
        }
        .bookings-wk {
          @extend .workout-wk;

          top: 3.8vh;
          left: 5.37vw;
          @include position(3.8vh, 5.37vw, null, null);

          color: #9b9b9b;
        }
        .bookings-row {
          position: absolute;

          font-size: 2vw;
          font-weight: 500;
          width: 100%;
          // background: red;
          // left: 5.37vw;
          // top: 5.46vh;
          @include position(5.46vh, 5.37vw, null, null);

          color: #9b9b9b;
        }
      }
    }
  }

  .distance {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap column;

    position: absolute;
    // top: 25.06vh;
    // left: 14.19vw;
    @include position(25.06vh !important, 14.19vw !important, null, null);
  }

  .steps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap column;

    position: absolute;
    // top: 25.06vh;
    // left: 14.19vw;
    @include position(25.06vh !important, null, null, 14.19vw !important);
  }
}
