page-home {
  .fixed-content {
    z-index: -2 !important;
  }

  .header.header-md,
  .header.header-ios {
    font-family: "AvenirLTStd-light", Arial, Helvetica, sans-serif;
    height: calc(47vh);

    // background: linear-gradient(135deg, #0193a0, #21c1ca);
    background: url(../assets/imgs/home-back.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    width: 100%;
    box-shadow: 0 !important;

    position: relative;

    * {
      padding: 0;
      margin: 0;
    }

    &:after {
      background-image: none !important;
    }

    .user-name {
      font-family: "29ltbukraregular", "AvenirLTStd-Medium", Arial, Helvetica,
        sans-serif;

      position: absolute;

      font-size: 6vw;
      // font-size: 6.13vw;
      font-weight: 500;
      color: #ffffff;
      top: 7vh;
      // top: 7.4vh;
      width: 100%;
      text-align: center;
    }
    .user-active {
      position: absolute;

      font-size: 2.37vw;
      font-weight: normal;
      color: #9dd9df;
      top: 12vh;
      // top: 11.64vh;
      width: 100%;
      text-align: center;
    }

    .user-today {
      position: absolute;

      font-size: 3.19vw;
      font-weight: 500;
      color: #ffffff;
      top: 16.46vh;
      width: 100%;
      text-align: center;
    }

    .user-floors-img {
      position: absolute;

      width: 7.16vw;
      height: 2.8vh;
      top: 25vh;
      left: 13.68vw;
    }
    .user-floors-text {
      position: absolute;

      font-size: 2.37vw;
      font-weight: 500;
      color: #9dd9df;
      top: 29.4vh;
      left: 14.19vw;
    }
    .user-floors-number {
      position: absolute;

      font-size: 5.88vw;
      font-weight: 500;
      // font-weight: 900;
      color: #ffffff;
      top: 32.06vh;
      left: 14.19vw;
    }

    .user-steps-img {
      @extend .user-floors-img;
      right: 13.68vw;
      width: 5.75vw;
      height: 4.31vh;
      left: auto;
    }
    .user-steps-text {
      @extend .user-floors-text;
      right: 13.68vw;
      left: auto;
    }
    .user-steps-number {
      @extend .user-floors-number;
      right: 14.19vw;
      left: auto;
    }

    .user-circle {
      position: absolute;

      width: 33.5vw;
      height: 18.83vh;
      top: 20.7vh;
      left: 33.24vw;
      // overflow: hidden;

      .user-circle-progress {
        max-width: 95% !important;
        max-height: 100%;
        margin: 0 auto;
      }
      .user-circle-number {
        position: absolute;

        font-size: 14.14vw;
        font-weight: normal;
        color: #ffffff;
        top: 4vh;
        // top: 6.39vh;
        width: 100%;
        text-align: center;
      }
      .user-circle-days {
        position: absolute;

        font-size: 3.19vw;
        font-weight: 300;
        color: #ffffff;
        top: 13vh;
        // top: 13.2vh;
        width: 100%;
        text-align: center;
      }
    }

    .user-goal {
      position: absolute;

      font-size: 2.37vw;
      font-weight: 500;
      color: #9dd9df;
      top: 40.97vh;
      width: 100%;
      text-align: center;
    }
  }

  .header.header-md {
    .user-goal {
      position: absolute;

      font-size: 2.37vw;
      font-weight: 500;
      color: #9dd9df;
      top: 42.97vh!important;
      width: 100%;
      text-align: center;
    }
  }

  .scroll-content {
    position: relative;

    padding: 0 !important;
    margin: 0 !important;
    margin-top: calc(47vh) !important;
    z-index: 999;

    height: 100%;
    width: 100%;

    * {
      padding: 0 !important;
      margin: 0 !important;
    }

    .workout-section-title {
      position: absolute;

      font-size: 4.55vw;
      font-weight: 500;
      color: #575c69;
      top: 3.16vh;
      left: 3.58vw;
    }

    .workout-section-slides {
      position: absolute;

      top: 4.96vh;
      width: 100%;
      height: 20.41vh;

      .workout-section-slides-slide {
        position: relative;

        background: white;
        height: 14.16vh;
        // width: 39.25vw !important;
        margin: 2.73vh 0 3.52vh 0 !important;
        margin-left: 1.66vw !important;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        border-radius: 1vw;

        &:first-of-type {
          margin-left: 3.32vw !important;
        }

        .workout-title {
          position: absolute;

          font-family: "29ltbukraregular", "AvenirLTStd-Medium", Arial,
            Helvetica, sans-serif;
          font-size: 2.5vw;
          font-weight: bolder;

          color: #575c69;

          // background: red;
          left: 2.04vw;
          top: 1.72vh;
        }
        .workout-row {
          position: absolute;

          font-size: 2vw;
          font-weight: 500;
          width: 100%;
          // background: red;
          left: 2.04vw;
          top: 3.81vh;
          color: #9b9b9b;
          ion-col {
            &:first-of-type {
              // border-right: 1px solid #9b9b9b;;

              p {
                width: 100%;
                text-align: left;
              }
            }

            p {
              width: 100%;
              text-align: center;
            }
          }
        }
        .workout-wk {
          position: absolute;

          font-size: 2.2vw;
          font-weight: 500;
          // background: red;
          left: 2.42vw;
          top: 9.48vh;
          color: #575c69;

        }
        .workout-state {
          position: absolute;

          font-size: 2.2vw;
          font-weight: 500;
          // background: red;
          left: 2.81vw;
          top: 11.35vh;
          color: #575c69;

        }
      }
    }

    .bookings-section-title {
      @extend .workout-section-title;
      top: 27.67vh;
    }
    .bookings-section-slides {
      @extend .workout-section-slides;
      top: 30.69vh;

      height: 14.45vh;

      .bookings-section-slides-slide {
        @extend .workout-section-slides-slide;
        // width: 28.64vw!important;
        height: 8.19vh;

        margin-left: 4.09vw !important;

        &:first-of-type {
          width: 8.19vh !important;
          background: transparent;
          box-shadow: none;
          border: 1px solid #9b9b9b;
          // margin-left: 3.32vw !important;
          ion-icon {
            font-size: 4.58vh !important;
            color: #575c69;
          }
        }

        .bookings-title {
          @extend .workout-title;
          position: absolute;

          top: 1.72vh;
          left: 5.37vw;

          color: #575c69;

          &::before {
            position: absolute;
            content: "•";
            display: block;
            left: -3.5vw;

            font-size: 4vw;
            color: yellow;
          }
        }
        .bookings-wk {
          @extend .workout-wk;

          top: 3.45vh;
          left: 5.37vw;

          color: #9b9b9b;

        }
        .bookings-row {
          position: absolute;

          font-size: 2vw;
          font-weight: 500;
          width: 100%;
          // background: red;
          left: 5.37vw;
          top: 5.46vh;
          color: #9b9b9b;

        }
      }
    }
  }

  // .exercices {
  //   // margin-top: -5em;

  //   z-index: 99999999999 !important;

  //   ion-thumbnail {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //   }

  //   img {
  //     width: 2.5em;
  //     height: auto;
  //   }

  //   .item-wrapper {
  //     margin: 0.8em auto;
  //     border-radius: 0.5em;
  //     box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
  //     // border: .5px solid black;
  //   }

  //   .item.item-block,
  //   div.input-wrapper {
  //     border-radius: 1em;
  //     padding: auto 0;
  //     margin: 0;
  //     p {
  //       padding: 0;
  //       margin: 0;
  //       font-size: 75%;
  //     }
  //   }
  // }

  // .no-padding {
  //   padding: 0;
  //   margin: 0;

  //   button {
  //     padding: 0 !important;
  //     margin: 0 !important;
  //   }
  // }
  // max-width: 100vw !important;

  // ion-content {
  //   padding: 0 0.5em;
  //   font-size: 85%;

  //   text-align: left;

  //   h2 {
  //     font-size: 1.6em;
  //     color: #666;
  //     padding: 0 1em;
  //   }
  // }

  // #notification-button {
  //   position: relative;
  //   width: 42px;
  //   top: 0px;
  //   right: 1px;
  //   overflow: visible !important;
  //   font-size: 1.5em;
  //   background: transparent;
  //   border-radius: 100%;
  //   padding: 0;
  //   margin: 0.5em;
  //   color: white !important;
  // }
  // #notifications-badge {
  //   background-color: transparent;
  //   font-size: 0.6em;
  //   padding: 0px;
  //   position: absolute;
  //   top: calc(50% + 0.1em);
  //   right: 0.1em;
  //   font-weight: 200;
  //   color: white !important;
  //   fill: white;
  // }
  // #notifications-badge.badge.badge-ios,
  // .badge.badge-md {
  //   color: #f8cb4f !important;
  // }

  // .progress-container {
  //   position: relative;
  //   // background: red;
  //   padding: 0;
  //   margin: 0;
  // }

  // .progress-days {
  //   position: absolute;
  //   // top: calc(-60/30 -3em);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-flow: nowrap column;
  //   // background: rgba(185, 185, 241,.5);
  //   left: 0;
  //   top: 0 !important;
  //   font-size: 3em;
  //   font-weight: 600;
  //   width: 100%;
  //   height: 100%;
  //   padding: 0;
  //   margin: 0;
  //   text-align: center;
  //   span {
  //     display: block;
  //     font-size: 40%;
  //     font-weight: 300;
  //   }
  // }

  // .user-container {
  //   .user-name {
  //     font-size: 1.5em;
  //     font-weight: 600;
  //     padding: 0;
  //     margin: 0;
  //     text-align: center;
  //   }
  //   .user-active {
  //     font-size: 0.9em;
  //     padding: 0;
  //     margin: 0;
  //     text-align: center;
  //     color: rgba(255, 255, 255, 0.7) !important;
  //   }
  // }
  // .today-container {
  //   ion-row {
  //     width: 100%;
  //     display: flex;
  //     justify-content: space-around;
  //     align-items: center;
  //   }

  //   ion-col {
  //     display: flex;
  //     flex-flow: nowrap column;
  //     justify-content: center;
  //     align-items: center;
  //   }

  //   .floors,
  //   .steps,
  //   .today,
  //   .percentage-circle {
  //     font-size: 0.9em;
  //     padding: 0;
  //     margin: 0;
  //     text-align: center;
  //   }
  //   .today {
  //     padding: 1em;
  //   }
  //   .floors,
  //   .steps,
  //   .percentage-circle {
  //     font-size: 0.8em;
  //     color: rgba(255, 255, 255, 0.7) !important;
  //     font-size: 0.8;
  //     img {
  //       width: auto;
  //       height: 3em;
  //     }
  //     p {
  //       color: rgba(255, 255, 255, 0.7) !important;
  //       // padding: 0.5em;
  //       padding: 0.1em;
  //       margin: 0;

  //       &.act-number {
  //         color: rgba(255, 255, 255, 1) !important;
  //         font-size: 2.2em;
  //         font-weight: 600;
  //       }
  //     }
  //   }
  // }

  // #Start-a-Workout {
  //   width: 100%;

  //   margin: 0 auto;

  //   div {
  //     padding: 0 0.5em;
  //     height: 95%;
  //   }
  // }
  // .workout {
  //   background: linear-gradient(135deg, #0ca3ad, #03c3d8);
  //   color: white !important;
  //   font-size: 75%;
  //   padding: 0.8em;
  //   margin: 0.3em;
  //   border-radius: 5px;
  //   box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  //   color: rgba(255, 255, 255, 0.7) !important;
  //   font-weight: 300;
  //   text-align: left;

  //   // margin-top: 1em;
  //   margin-left: 1em;

  //   margin: 0;

  //   &:last-of-type {
  //     margin-right: 1em;
  //   }
  //   // &:first-of-type {
  //   //   margin-left: 1em!important;
  //   //   background: red;
  //   // }
  //   .workout-title {
  //     font-size: 1.1em;
  //     color: white !important;
  //     display: flex;
  //     justify-content: flex-start;
  //     align-items: center;
  //   }
  //   .workout-container {
  //     display: flex;
  //     justify-content: space-between;
  //     width: 100%;
  //     margin: 0.2em 0;
  //   }
  //   .workout-average {
  //     color: white !important;
  //     margin-top: 2em;
  //   }
  //   p {
  //     padding: 0;
  //     margin: 0.125em 0;
  //     text-align: left;
  //   }
  // }
  // .booking {
  //   background: white;
  //   color: #555 !important;
  //   padding: 0.125em 2.6em;
  //   margin: 0.3em;
  //   border-radius: 5px;
  //   box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  //   font-weight: 300;

  //   text-align: left;

  //   margin-top: 1em;
  //   margin-left: 2em;

  //   .workout-title {
  //     font-weight: 700;
  //     font-size: 1.1em;
  //     color: #999 !important;
  //     display: flex;
  //     justify-content: flex-start;
  //     align-items: center;

  //     &::before {
  //       content: "•";
  //       display: block;
  //       margin-left: -1.4em;
  //       padding: 0 0.5em;
  //       font-size: 2em;
  //       color: yellow;
  //     }
  //   }

  //   p {
  //     font-size: 0.9em;
  //     padding-left: 0.2em;
  //     padding-right: 0.2em;
  //     padding-bottom: 0.1em;
  //   }

  //   &.add-button {
  //     max-width: 6em;
  //     height: initial;

  //     button {
  //       font-size: 2.8em;
  //       padding: 0.1em;
  //       margin: 0;
  //       font-weight: 200;
  //       width: 100%;
  //       height: 100%;
  //       ion-icon {
  //         font-weight: 200;
  //         height: 100%;
  //         color: #666 !important;
  //       }
  //     }
  //   }
  // }
}
