<ion-header>
  <!-- <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar> -->

  <p class="user-name">{{(profile$ | async)?.data.FullName}}</p>
  <p class="user-active">{{user.active}}</p>

  <p class="user-today">TODAY</p>

  <img class="user-floors-img" src="assets/imgs/_stairs@2x.png">
  <p class="user-floors-text">floors</p>
  <p class="user-floors-number">{{user.today.floors}}</p>

  <div class="user-circle">
    <round-progress class="user-circle-progress" [current]="2" [max]="3" [color]="'#f8cb4f'" [background]="'#ffffff'" [radius]="65.5"
      [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="800" [animation]="'easeInOutQuart'"
      [animationDelay]="0">
    </round-progress>
    <p class="user-circle-number">2</p>
    <p class="user-circle-days">days</p>
  </div>

  <img class="user-steps-img" src="assets/imgs/_steps@2x.png">
  <p class="user-steps-text">steps</p>
  <p class="user-steps-number">{{mySteps || 1253}}</p>

  <p class="user-goal">goal: 3 days</p>


</ion-header>

<ion-content>

  <p class="workout-section-title">Start a Workout:</p>
  <ion-slides class="workout-section-slides" slidesPerView="2.57">
    <ion-slide class="workout-section-slides-slide" *ngFor="let workout of  workouts$ | async" [navPush]="workoutPage" [navParams]="workout">
      <p class="workout-title">{{workout.ProgramName}}</p>

      <ion-row no-padding class="workout-row">
        <ion-col no-padding col-auto>
          <p class="workout-exercice">tone muscles</p>
        </ion-col>
        <ion-col no-padding col-auto>
          <p class="workout-time">{{workout.NumberOfDays}}</p>
        </ion-col>
      </ion-row>

      <p class="workout-wk">1/wk</p>
      <p class="workout-state">{{workout.CreationDate}}</p>

    </ion-slide>
  </ion-slides>


  <p class="bookings-section-title">Upcoming Bookings:</p>
  <ion-slides class="bookings-section-slides"  slidesPerView="3.5">
    <ion-slide class="bookings-section-slides-slide">
      <button clear ion-button (click)="bookClass()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-slide>
    <ion-slide class="bookings-section-slides-slide" *ngFor="let booking of (upcommingExercises | async)?.data">
      <p class="bookings-title">{{booking?.ExerciseTitle}}</p>
      <p class="bookings-wk">{{booking?.Duration}}</p>
      <p class="bookings-state">{{booking?.Date}}</p>
    </ion-slide>
  </ion-slides>



</ion-content>
