<!--
  Generated template for the WorkoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header padding>

  <ion-navbar>
    <ion-title>Workout</ion-title>
  </ion-navbar>



</ion-header>


<ion-content padding>
  <div class="workout-header">
    <p class="workout-title">{{workout.ProgramName}}</p>

    <button class="workout-notification-button" ion-button clear>

      <img class="workout-notifications-button-img" src="assets/icon/_message.png">
      <ion-badge class="workout-notifications-button-badge" clear>{{workout.Note}}</ion-badge>
    </button>

    <!-- <p class="workout-exercice">Tone muscles</p> -->

    <ion-row class="workout-meta">
      <ion-row>
        <ion-icon name="time-outline"></ion-icon>
        <p class="workout-time">{{workout.NumberOfDays}} days</p>
      </ion-row>

      <ion-row class="workout-time-container">
        <!-- <ion-icon name="ios-code-working"></ion-icon> -->
        <img class="workout-time-img" src="assets/icon/dumbbell-white.svg">
        <!-- <p class="workout-time">{{workout.CreationDate | moment}}</p> -->
        <p class="workout-time">{{workout.CardioProgrameDetail?.length}}</p>
      </ion-row>
    </ion-row>

    <ion-row class="workout-states">
      <ng-container *ngFor="let exercice of (workout$ | async)?.CardioProgrameDetail; let i = index">
        <ion-icon *ngIf="exercice.state == 'done'" [name]="'ios-checkmark-circle'"></ion-icon>
      </ng-container>
      <ng-container *ngFor="let exercice of (workout$ | async)?.BodybuildingProgrameDetail; let i = index">
        <ion-icon *ngIf="exercice.state == 'done'" [name]="'ios-checkmark-circle'"></ion-icon>
      </ng-container>

      <ng-container *ngFor="let exercice of (workout$ | async)?.CardioProgrameDetail; let i = index">
        <ion-icon *ngIf="exercice.state != 'done'" [name]="'ios-checkmark-circle-outline'"></ion-icon>
      </ng-container>
      <ng-container *ngFor="let exercice of (workout$ | async)?.BodybuildingProgrameDetail; let i = index">
        <ion-icon *ngIf="exercice.state != 'done'" [name]="'ios-checkmark-circle-outline'"></ion-icon>
      </ng-container>
    </ion-row>
  </div>
  <ion-list class="exercices" no-lines>
    <ng-container *ngFor="let exercice of (workout$ | async)?.CardioProgrameDetail; let i = index">

      <ion-item-sliding *ngIf="exercice.state != 'done'" #slidingItem>
        <ion-item #item (click)="open($event, slidingItem, item)">

          <p class="counter">{{i + 1}}</p>
          <ion-thumbnail item-left>
            <img *ngIf="exercice.Equipment.Photo" [src]="exercice.Equipment.Photo">

          </ion-thumbnail>

          <p class="workout-p">{{exercice.Equipment.NameEN}}</p>
          <p class="workout-p">{{exercice.Duration || '0'}} mins
            <span>Level: </span>{{exercice.Level}}</p>

          <ion-buttons item-right>
            <button ion-button clear>
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-buttons>
        </ion-item>
        <ion-item-options style="width: 90.04%" side="left" class="slide-options">
          <ion-row justify-content-center>
            <ion-col class="sliding-col">
              <p class="option-title">How many minutes?</p>
              <ion-row justify-content-center>
                <ion-col col-3>
                  <button (click)="decreaseDuration($event, slidingItem, item, exercice)" ion-button clear>-</button>
                </ion-col>
                <ion-col col-5>
                  <p>{{exercice.Duration}}</p>
                </ion-col>
                <ion-col col-3>
                  <button (click)="encreaseDuration($event, slidingItem, item, exercice)" ion-button clear>+</button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="sliding-col">
              <p class="option-title">Speed?</p>
              <ion-row justify-content-center>
                <ion-col (click)="encreaseSpeed($event, slidingItem, item, exercice)" col-3>
                  <button ion-button clear>-</button>
                </ion-col>
                <ion-col col-5>
                  <p>{{exercice.Speed}}</p>
                </ion-col>
                <ion-col (click)="encreaseSpeed($event, slidingItem, item, exercice)" col-3>
                  <button ion-button clear>+</button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="main-button-container">
              <button class="main" ion-button clear (click)="(exercice.state = 'done') && endCardioReadout(exercice, workout.ID)">
                <ion-icon name="checkmark-outline"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-item-options>
      </ion-item-sliding>

    </ng-container>

    <ng-container *ngFor="let exercice of (workout$ | async)?.BodybuildingProgrameDetail; let i = index">
      <ion-item-sliding #slidingItem *ngIf="exercice.state != 'done'">
        <ion-item #item (click)="open($event, slidingItem, item)">

          <p class="counter">{{i + 1}}</p>
          <ion-thumbnail item-left>
            <img *ngIf="exercice.Equipment.Photo" [src]="exercice.Equipment.Photo">

          </ion-thumbnail>

          <p class="workout-p">{{exercice.Equipment.NameEN}}</p>
          <p class="workout-p">{{exercice.Duration || '0'}} mins
            <span>{{exercice.NumberOfRepetition}} x {{exercice.Repetition}} repetitions</span>
          </p>

          <ion-buttons item-right>
            <button ion-button clear>
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-buttons>
        </ion-item>
        <ion-item-options style="width: 90.04%" side="left" class="slide-options">
          <ion-row justify-content-center>
            <ion-col class="sliding-col">
              <p class="option-title">How many minutes?</p>
              <ion-row justify-content-center>
                <ion-col col-3>
                  <button (click)="decreaseDuration($event, slidingItem, item, exercice)" ion-button clear>-</button>
                </ion-col>
                <ion-col col-5>
                  <p>{{exercice.Duration || 0}}</p>
                </ion-col>
                <ion-col col-3>
                  <button (click)="encreaseDuration($event, slidingItem, item, exercice)" ion-button clear>+</button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="sliding-col">
              <p class="option-title">Calories burned?</p>
              <ion-row justify-content-center>
                <ion-col (click)="decreaseCalories($event, slidingItem, item, exercice)" col-3>
                  <button ion-button clear>-</button>
                </ion-col>
                <ion-col col-5>
                  <p>{{exercice.Calories}}</p>
                </ion-col>
                <ion-col (click)="encreaseCalories($event, slidingItem, item, exercice)" col-3>
                  <button ion-button clear>+</button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="main-button-container">
              <button class="main" ion-button clear (click)="(exercice.state = 'done') && endBodyBuildingReadout(exercice, workout.ID)">
                <ion-icon name="checkmark-outline"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>

    <ng-container>
      <div class="lava-spacer"></div>
    </ng-container>

    <div class="lava-divider" *ngIf="(workout$ | async)?.CardioProgrameDetail.length > 0 || (workout$ | async)?.BodybuildingProgrameDetail.length > 0">
      <p>done</p>
    </div>

    <ng-container *ngFor="let exercice of (workout$ | async)?.CardioProgrameDetail; let i = index">

      <ion-item-sliding *ngIf="exercice.state == 'done'" #slidingItem>
        <ion-item #item (click)="open($event, slidingItem, item)">

          <p class="counter">{{i + 1}}</p>
          <ion-thumbnail item-left>
            <img *ngIf="exercice.Equipment.Photo" [src]="exercice.Equipment.Photo">

          </ion-thumbnail>

          <p class="workout-p">{{exercice.Equipment.NameEN}}</p>
          <p class="workout-p">{{exercice.Duration || '0'}} mins
            <span>Level: </span>{{exercice.Level}}</p>

          <ion-buttons item-right>
            <button ion-button clear>
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-buttons>
        </ion-item>
        <ion-item-options style="width: 90.04%" side="left" class="slide-options">
          <ion-row justify-content-center>
            <ion-col class="sliding-col">
              <p class="option-title">How many minutes?</p>
              <ion-row justify-content-center>
                <ion-col col-3>
                  <button (click)="decreaseDuration($event, slidingItem, item, exercice)" ion-button clear>-</button>
                </ion-col>
                <ion-col col-5>
                  <p>{{exercice.Duration}}</p>
                </ion-col>
                <ion-col col-3>
                  <button (click)="encreaseDuration($event, slidingItem, item, exercice)" ion-button clear>+</button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="sliding-col">
              <p class="option-title">Speed?</p>
              <ion-row justify-content-center>
                <ion-col (click)="encreaseSpeed($event, slidingItem, item, exercice)" col-3>
                  <button ion-button clear>-</button>
                </ion-col>
                <ion-col col-5>
                  <p>{{exercice.Speed}}</p>
                </ion-col>
                <ion-col (click)="encreaseSpeed($event, slidingItem, item, exercice)" col-3>
                  <button ion-button clear>+</button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="main-button-container">
              <button class="main" ion-button clear (click)="endCardioReadout(exercice, workout.ID)">
                <ion-icon name="checkmark-outline"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-item-options>
      </ion-item-sliding>

    </ng-container>

    <ng-container *ngFor="let exercice of (workout$ | async)?.BodybuildingProgrameDetail; let i = index">
      <ion-item-sliding #slidingItem *ngIf="exercice.state == 'done'">
        <ion-item #item (click)="open($event, slidingItem, item)">

          <p class="counter">{{i + 1}}</p>
          <ion-thumbnail item-left>
            <img *ngIf="exercice.Equipment.Photo" [src]="exercice.Equipment.Photo">

          </ion-thumbnail>

          <p class="workout-p">{{exercice.Equipment.NameEN}}</p>
          <p class="workout-p">{{exercice.Duration || '0'}} mins
            <span>{{exercice.NumberOfRepetition}} x {{exercice.Repetition}} repetitions</span>
          </p>

          <ion-buttons item-right>
            <button ion-button clear>
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-buttons>
        </ion-item>
        <ion-item-options style="width: 90.04%" side="left" class="slide-options">
          <ion-row justify-content-center>
            <ion-col class="sliding-col">
              <p class="option-title">How many minutes?</p>
              <ion-row justify-content-center>
                <ion-col col-3>
                  <button (click)="decreaseDuration($event, slidingItem, item, exercice)" ion-button clear>-</button>
                </ion-col>
                <ion-col col-5>
                  <p>{{exercice.Duration || 0}}</p>
                </ion-col>
                <ion-col col-3>
                  <button (click)="encreaseDuration($event, slidingItem, item, exercice)" ion-button clear>+</button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="sliding-col">
              <p class="option-title">Calories burned?</p>
              <ion-row justify-content-center>
                <ion-col (click)="decreaseCalories($event, slidingItem, item, exercice)" col-3>
                  <button ion-button clear>-</button>
                </ion-col>
                <ion-col col-5>
                  <p>{{exercice.Calories}}</p>
                </ion-col>
                <ion-col (click)="encreaseCalories($event, slidingItem, item, exercice)" col-3>
                  <button ion-button clear>+</button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="main-button-container">
              <button class="main" ion-button clear (click)="endBodyBuildingReadout(exercice, workout.ID)">
                <ion-icon name="checkmark-outline"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>

    <ng-container>
      <div class="lava-spacer"></div>
      <div class="lava-spacer"></div>
      <div class="lava-spacer"></div>
    </ng-container>

  </ion-list>
  <button ion-fixed ion-button class="workout-finish" (click)="finishWorkout()">Finish Workout</button>

</ion-content>
