page-workout {
  $sch: 347.3;
  $scw: 195.5;

  * {
    padding: 0 !important;
    margin: 0 !important;
  }

  .header.header-md,
  .header.header-ios {
    position: relative;
    width: 100%;
    height: 38.1 / $sch * 100vh;
    box-shadow: 0 !important;

    background: transparent;
    // background: url(../assets/imgs/booking-back.png);
    // background-size: contain;
    // background-position: top center;
    // background-repeat: no-repeat;

    &:after {
      background-image: none !important;
    }

    .toolbar.toolbar-md,
    .toolbar.toolbar-ios {
      .toolbar-title.toolbar-title-md,
      .toolbar-title.toolbar-title-ios {
        color: #ffffff;
        font-size: calc(calc(4.3 / $sch * 100vh) / $scw * 100vw);
        font-family: "AvenirLTStd-Heavy" !important;

        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      }

      .toolbar-background.toolbar-background-ios {
        border: none !important;

        background: transparent;
      }

      ion-icon.back-button-icon.icon {
        color: white !important;
      }
    }
  }

  .workout-header {
    width: 100%;
    position: relative;
    height: 30vh;

    .workout-title {
      font-family: "29ltbukraregular", "AvenirLTStd-Medium", Arial, Helvetica,
        sans-serif;

      position: absolute;

      font-size: 4.47vw;
      font-weight: normal;
      color: #ffffff;
      top: 9.77vh;
      left: 10.32vw;
    }
    .workout-exercice {
      position: absolute;

      font-size: 3.83vw;
      font-weight: normal;
      color: #ffffff;
      top: 13.58vh;
      left: 10.32vw;
    }

    .workout-time-container {
      flex-flow: nowrap row;
    }
    .workout-time-img {
      height: 2.3vh;
      width: auto;
      margin: 0;
      padding: 0;
    }
    .workout-notification-button {
      position: absolute;

      font-size: 3.19vw;
      font-weight: 500;

      width: 4.72vw;
      height: 2.01vh;

      top: 10.73vh;
      right: 7.41vw;

      .workout-notifications-button-img {
        position: absolute;

        height: 100%;
        width: auto;
        top: 0;
        left: 0;
      }
      .workout-notifications-button-badge {
        position: absolute;

        width: 4.5px;

        font-size: 3.19vw;
        font-weight: 500;
        color: #ffffff;

        background: transparent;

        right: -2.8vw;
        top: 0;
      }
    }
    .workout-meta {
      position: absolute;

      font-size: 3.19vw;
      font-weight: 500;
      color: #ffffff;
      top: 17.32vh;
      left: 10.73vw;
      right: 10.73vw;

      ion-row:last-of-type {
        margin-left: 6.77vw !important;
      }
      p {
        margin-left: 1.53vw !important;
      }
    }
    .workout-states {
      position: absolute;

      font-size: 3.19vw;
      font-weight: 500;
      color: #ffffff;

      top: 21.99vh;

      width: 45.26;
      left: 27.73vw;
      right: 27.73vw;

      ion-icon {
        font-size: 4.21vw;
        margin-right: 2.55vw !important;
      }
    }
  }

  .workout-finish {
    position: fixed;

    width: 72.8 / $scw * 100vw;
    height: 22.3 / $sch * 100vh;

    left: 58.3 / $scw * 100vw;
    bottom: 7.9vh !important;
    font-size: 8.9 / 1.25 / $scw * 100vw;
    font-weight: 500;
    color: #ffffff !important;
    margin: 0;

    border-radius: 4vw 4vw 0 0;
    background: linear-gradient(135deg, #0ca3ad, #03c3d8);

    z-index: 999999 !important;
  }

  .scroll-content {
    padding-top: 20 / $sch * 100vh !important;

    margin-top: 0 / $sch * 100vh !important;

    background: url(../assets/imgs/Lava-app-YSF_06-Workout.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;

    .sliding-col {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
    }

    ion-item-sliding {
      border-radius: 0.25em;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.25); // border: .5px solid black;

      height: 42.8 / $sch * 100vh;
      width: 175.8 / $scw * 100vw;
      margin: 0 auto !important;
      margin-bottom: 10.8 / $sch * 100vh !important;

      position: relative;

      &.state_done {
        background: red !important;
      }

      .item.item-block {
        position: relative;

        border-radius: 0;
        width: inherit;
        height: inherit;
        background: white !important;

        box-shadow: -16px 0 16px rgba(0, 0, 0, 0.15);
      }

      ion-thumbnail {
        height: 24.8 / $sch * 100vh;
        width: 22 / $scw * 100vw;

        min-height: 24.8 / $sch * 100vh;
        min-width: 22 / $scw * 100vw;

        margin: 0 !important;
        padding: 0 !important;
        margin-top: 0 / $sch * 100vh !important;
        margin-left: 13.5 / $scw * 100vw !important;

        z-index: 1 !important;

        img {
          height: inherit;
          width: auto;
          z-index: 1 !important;
        }
      }

      .counter {
        position: absolute;
        top: 7 / $sch * 100vh !important;
        left: 12.3 / $scw * 100vw !important;

        font-size: 22.3 / 1.25 / $scw * 100vw !important;

        text-align: center;
        color: #999999;

        height: 19.3 / $sch * 100vh !important;
        width: 19.8 / $scw * 100vw !important;

        z-index: 0 !important;
      }

      p.workout-p {
        margin-left: 14.5 / $scw * 100vw !important;
        font-size: 6.8 / $scw * 100vw;
        color: #575c69;
        margin-bottom: 4.5 / $sch * 100vh !important;

        &:last-of-type {
          margin-bottom: 0 !important;

          span {
            &::before {
              content: "•";
              display: inline-block;
              padding: 1 / $scw * 100vw;

              font-weight: 600;
            }
          }
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 15.3 / $sch * 100vh;
        width: 15.3 / $scw * 100vw;

        margin-right: 8.3 / $scw * 100vw !important;

        ion-icon {
          padding: 0 !important;
          margin: 0 !important;

          height: 15.3 / $sch * 100vh;
          width: 15.3 / $scw * 100vw;

          background: rgba(227, 169, 23, 0.15) !important;
          color: #999999;

          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .slide-options {
        padding: 0;
        align-items: center;
        width: 85%;
        & > ion-row > ion-col {
          margin: 0 0 0 (12 / $scw * 100vw) !important;

          &:first-of-type {
            margin-left: 9 / $scw * 100vw !important;
          }

          .option-title {
            color: #575c69;
            font-size: 6.3 / 1.25 / $scw * 100vw;
          }

          &.main-button-container {
            margin: 0 !important;
            padding: 0 !important;

            align-items: center;
            justify-content: center;
            display: flex;

            margin-left: 11 / $scw * 100vw !important;

            .main {
              margin: 0 auto !important;
              padding: 0 !important;

              width: 19.8 / $scw * 100vw;
              height: 19.8 / $sch * 100vh;

              ion-icon {
                width: 19.8 / $scw * 100vw;
                height: 19.8 / $sch * 100vh;
                font-size: 18 / $scw * 100vw;
                font-weight: 600;
              }
            }
          }

          & > ion-row {
            width: 85%;
            margin-top: 0.5em;
            border-radius: 0.2em;
            background: #eee;

            width: 47.5 / $scw * 100vw;
            height: 13 / $sch * 100vh;

            margin-top: 3.5 / $sch * 100vh !important;

            p {
              font-size: 9.8 / 1.25 / $scw * 100vw;
              color: #07b2bd;
              text-align: center;
              width: 100% !important;

              height: 100% !important;

              display: flex;
              align-items: center;
              justify-content: center;
            }

            button {
              display: flex;
              justify-content: center;
              align-items: center;

              color: #9295a0 !important;
              background: transparent;

              padding: 0 !important;
              margin: 0 !important;

              font-size: 10.2 / $scw * 100vw;

              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .lava-spacer {
    background: transparent;
    min-height: 5vh;
    width: 100%;
  }

  .lava-divider {
    margin: 2vh 0!important;
    border-top: 1px solid #eee!important;
    position: relative;
    width: 100%;
    height: 2vh;
    display: flex;
    justify-content: center;


    p {
      z-index: 10;
      position: absolute;
      top: -1.5vh;
      font-size: 4vw;
    background: white;
    color: #aaa;
    border-radius: 1vw;

      padding: 0 1vw!important;

    }
  }

  .transform-slide-3d {

    transform: translate3d(90.04%, 0px, 0px);
  }
}
