page-person {
  $sch: 347.3;
  $scw: 195.5;
  // .fixed-content {
  //   z-index: -2 !important;
  // }

  .header.header-md,
  .header.header-ios {
    position: relative;
    width: 100%;
    height: 21.23vh;
    box-shadow: 0 !important;

    // background: linear-gradient(135deg, #0193a0, #21c1ca);
    background: url(../assets/imgs/booking-back.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    &:after {
      background-image: none !important;
    }

    .toolbar.toolbar-md,
    .toolbar.toolbar-ios {
      .toolbar-title.toolbar-title-md,
      .toolbar-title.toolbar-title-ios {
        color: #ffffff;
        font-weight: 400;
        font-size: 8.9 / $scw * 100vw;
      }

      ion-icon.back-button-icon.icon {
        color: white !important;
      }
    }
  }
}
