page-person {
  $sch: 143.5;
  $scw: 93.8;
  // .fixed-content {
  //   z-index: -2 !important;
  // }

  * {
    // margin: 0 !important;
    padding: 0 !important;
  }

  ion-card {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.125) !important;
    border-radius: 1 / $scw * 100vw !important;
    padding: 0 !important;
  }

  .header.header-md,
  .header.header-ios {
    position: relative;
    width: 100%;
    height: 38.1 / $sch * 100vh;
    box-shadow: 0 !important;

    background: transparent;
    // background: url(../assets/imgs/booking-back.png);
    // background-size: contain;
    // background-position: top center;
    // background-repeat: no-repeat;

    &:after {
      background-image: none !important;
    }

    .toolbar.toolbar-md,
    .toolbar.toolbar-ios {
      .toolbar-title.toolbar-title-md,
      .toolbar-title.toolbar-title-ios {
        color: #ffffff;
        font-size: calc(calc(4.3 / $sch * 100vh) / $scw * 100vw);
        font-family: "AvenirLTStd-Heavy" !important;

        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);


      }

      .toolbar-background.toolbar-background-ios {
        border: none !important;

        background: transparent;
      }

      ion-icon.back-button-icon.icon {
        color: white !important;
      }
    }
  }

  // .scroll-content {
  //   position: relative;

  //   padding: 0 !important;
  //   margin: 0 !important;
  //   padding-top: 0 !important;
  //   margin-top: 38.1 / $sch * 100vh !important;
  //   z-index: 999;
  // }

  .scroll-content {
    padding-top: 20.1 / $sch * 100vh !important;

    margin-top: 0 / $sch * 100vh !important;

    background: url(../assets/imgs/booking-back.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .measuerments-goal {
    position: relative;

    height: 19.3 / $sch * 100vh;
    // width: 85.5 / $scw * 100vw;

    .measuerments-svg {
      position: absolute;
      top: 3.8 / $sch * 100vh;
      left: 3 / $scw * 100vw;

      height: 10 / $sch * 100vh;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        // height: 10 / $sch * 100vh;
        // width: auto;



        // padding: 1.5 / $scw * 100vw !important;

        width: 8.5 / $scw * 100vw !important;
        height: 8.5 / $scw * 100vw !important;

        padding: 1.5 / $scw * 100vw !important;
        background: rgba(62, 177, 253, 0.125);
        border: 0.5px solid rgba(0, 0, 0, 0.125);
        border-radius: 1.5 / $scw * 100vw;
      }
    }

    .measuerments-gray {
      position: absolute;
      top: 5 / $sch * 100vh;
      left: 14 / $scw * 100vw;

      p.gray {
        color: #bababa;
        font-size: 2.8 / $scw * 100vw !important;
      }

      h2 {
        color: #575c69;
        font-size: 3.5 / $scw * 100vw;
      }
    }

    .measuerments-chart {
      position: absolute;
      top: 2.5 / $sch * 100vh;
      right: 0 / $scw * 100vw;
      width: 40.3 / $scw * 100vw;
      height: (5.5 + 4.3 + 2) / $sch * 100vh;
    }
  }

  .weight-chart {
    position: relative;
    height: 41.3 / $sch * 100vh;
    // width: 100%;

    .weight-title {
      position: absolute;
      top: 4.3 / $sch * 100vh;
      left: 3.8 / $scw * 100vw;

      font-size: 3.5 / $scw * 100vw;
      color: #575c69;
    }
    .weight-canvas {
      position: absolute;
      height: 29 / $sch * 100vh;
      width: 100%;

      top: 10 / $sch * 100vh;

      display: flex;
      justify-content: center;
      align-items: center;
      canvas {
        max-height: 100%;
        max-width: 40 / $scw * 100vh;
      }
    }
  }

  .analysis {
    .analysis-header {
      padding: 0 (3.5 / $scw * 100vw) !important;
      img {
        width: 8.5 / $scw * 100vw !important;
        height: 8.5 / $scw * 100vw !important;

        padding: 1.5 / $scw * 100vw !important;
        background: rgba(62, 177, 253, 0.125);
        border: 0.5px solid rgba(0, 0, 0, 0.125);
        border-radius: 1.5 / $scw * 100vw;
      }

      p {
        color: #575c69;
        font-size: 4.3 / $scw * 100vw;
        &.gray {
          font-size: 2.8 / $scw * 100vw !important;
          color: #bababa !important;
        }
      }
    }

    .analysis-card {
      position: relative;

      width: 31.5 / $scw * 100vw;
      height: 42.3 / $sch * 100vh;

      p {
        &.analysis-card-hover {
          position: absolute;
          width: 100%;
          text-align: center;
          font-size: 2.8 / $scw * 100vw;
          color: #bababa;
        }
        &.analysis-card-header {
          position: absolute;
          width: 100%;
          text-align: center;
          top: 15 / $sch * 100vh;
          font-size: 3.5 / $scw * 100vw;
          color: #575c69;
        }
        &.analysis-card-average {
          position: absolute;
          width: 100%;
          text-align: center;
          top: 21.3 / $sch * 100vh;
          font-size: 4 / $scw * 100vw;
          color: #575c69;
        }
        &.analysis-card-gray {
          position: absolute;
          width: 100%;
          text-align: center;
          top: 26.5 / $sch * 100vh;
          font-size: 2.5 / $scw * 100vw;
          color: #bababa;
        }
      }

      img {
        width: 8.5 / $scw * 100vw !important;
        height: 8.5 / $scw * 100vw !important;

        padding: 1.5 / $scw * 100vw !important;
        background: rgba(62, 177, 253, 0.125);
        border: 0.5px solid rgba(0, 0, 0, 0.125);
        border-radius: 1.5 / $scw * 100vw;

        position: absolute;
        right: 12.5 / $scw * 100vw;
        left: 12.5 / $scw * 100vw;
        top: 5.3 / $sch * 100vh;
      }

      canvas {
        position: absolute;
        bottom: 0 / $sch * 100vh;
        height: 10.3 / $sch * 100vh !important;
      }
    }
  }

  .body {
    .body-header {
      padding: 0 (3.5 / $scw * 100vw) !important;
      img {
        width: 8.5 / $scw * 100vw !important;
        height: 8.5 / $scw * 100vw !important;

        padding: 1.5 / $scw * 100vw !important;
        background: rgba(62, 177, 253, 0.125);
        border: 0.5px solid rgba(0, 0, 0, 0.125);
        border-radius: 1.5 / $scw * 100vw;
      }

      p {
        color: #575c69;
        font-size: 4.3 / $scw * 100vw;
      }
    }

    .body-card {
      position: relative;

      width: 86 / $scw * 100vw;
      height: 99 / $sch * 100vh;

      img {
        position: absolute;

        width: 22.3 / $scw * 100vw;
        height: 83 / $sch * 100vh;

        top: 3.8 / $sch * 100vh;
        left: 31.8 / $scw * 100vw;
      }

      p {
        width: 100%;
        text-align: right;

        color: #bababa;
        font-size: 2.5 / $scw * 100vw;

        position: absolute;
        bottom: 3.8 / $sch * 100vh;
        width: 95%;
      }

      .body-card-full-history {
        width: 95%;
        text-align: right;

        color: #bababa !important;

        font-size: 2.8 / $scw * 100vw;
        text-decoration: underline;
        text-transform: uppercase;

        position: absolute;
        bottom: 7.5 / $sch * 100vh;

        background: transparent !important;
      }

      .arm,
      .waist,
      .legs,
      .hips,
      .chest {
        position: absolute;
        width: 15 / $scw * 100vw;
        height: 9.8 / $sch * 100vh;

        &::after {
          content: "-------";
          color: #22c3cc;
          display: block;
          position: absolute;
          left: 100%;
          top: 3 / $sch * 100vh;
          letter-spacing: 0.5 / $scw * 100vw;
        }

        .body-segments-title {
          position: absolute;
          top: 0.5 / $sch * 100vh;
          display: block;
          height: 3em;
          color: #22c3cc;
          width: 100%;
          text-align: left;
          font-size: 3 / $scw * 100vw;
        }

        .body-segments-measuerments {
          position: absolute;
          top: 3.5 / $sch * 100vh;
          display: block;
          height: 3em;

          width: 100%;
          text-align: left;
          color: #575c69;
          font-size: 2.5 / $scw * 100vw;
        }

        .body-segments-gray {
          position: absolute;
          top: 6 / $sch * 100vh;
          display: block;
          height: 3em;

          width: 100%;
          text-align: left;
          color: #bababa;
          font-size: 2 / $scw * 100vw;
        }
      }

      .arm {
        left: 7 / $scw * 100vw;
        top: 21.3 / $sch * 100vh;
      }

      .waist {
        left: 10 / $scw * 100vw;
        top: 32 / $sch * 100vh;
      }

      .legs {
        left: 11 / $scw * 100vw;
        top: 60 / $sch * 100vh;
      }

      .chest {
        right: 12 / $scw * 100vw;
        top: 19 / $sch * 100vh;

        &::after {
          left: auto;
          right: 100%;
        }
      }

      .hips {
        right: 9.3 / $scw * 100vw;
        top: 37.5 / $sch * 100vh;

        &::after {
          left: auto;
          right: 100%;
        }
      }
    }
  }
}
