// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.loading-ios .loading-wrapper, .loading-md .loading-wrapper {
  background: transparent!important;
  color: #22c3cc;
}
$loading-ios-spinner-color: #22c3cc!important;
$loading-ios-spinner-ios-color: #22c3cc!important;
$loading-ios-spinner-color: #22c3cc!important;
$loading-ios-spinner-dots-color: #22c3cc!important;
@font-face {
  font-family: "AvenirLTStd";
  src: url("../assets/fonts/AvenirLTStd-Black.otf"),
    url("../assets/fonts/AvenirLTStd-Book.otf"),
    url("../assets/fonts/AvenirLTStd-Medium.otf");
}

@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("../assets/fonts/AvenirLTStd-Heavy.otf")
}

@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("../assets/fonts/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: "AvenirLTStd-Book";
  src: url("../assets/fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("../assets/fonts/AvenirLTStd-Heavy.otf");
}

@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url("../assets/fonts/AvenirLTStd-Medium.otf");
}

@font-face {
  font-family: "29ltbukrabold";
  src: url("../assets/fonts/29ltbukra/29ltbukrabold.ttf");
}

@font-face {
  font-family: "29ltbukrabolditalic";
  src: url("../assets/fonts/29ltbukra/29ltbukrabolditalic.ttf");
}

@font-face {
  font-family: "29ltbukralight";
  src: url("../assets/fonts/29ltbukra/29ltbukralight.ttf");
}

@font-face {
  font-family: "29ltbukraregular";
  src: url("../assets/fonts/29ltbukra/29ltbukraregular.ttf");
}

* {
  font-family: "AvenirLTStd", "Roboto", Arial, Helvetica, sans-serif !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

ion-icon {
  font-family: Ionicons;

  &::before,
  &::after {
    font-family: Ionicons;
  }
}

button {
  color: #1eb3bb !important;
}
.alert-radio-label {
  color: #555 !important;
  font-weight: 400;
}

.slide-in-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.slide-in-right.ng-enter,
.slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-right.ng-enter-active,
.slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide-in-right.ng-leave,
.slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.toolbar.toolbar-md {
  * {
    padding: 0!important;
    margin: 0!important;
  }

  .title.title-md {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .back-button-md {
    z-index: 1;
  }
}

.tabs {
  // filter: blur(5px);
  .tabbar.show-tabbar {
    height: 7.9vh !important;
    // bottom:3vh !important;
  }
}

.toolbar.toolbar-md,
.toolbar.toolbar-ios {
  color: white !important;
  background: transparent;
  position: relative;


  .toolbar-title.toolbar-title-md,
  .toolbar-title.toolbar-title-ios {
    font-family: "AvenirLTStd", Arial, Helvetica, sans-serif;
    font-size: 4.55vw;
    font-weight: 500;
    color: #ffffff;
  }



  ion-icon.back-button-icon.icon {
    top: calc( calc(100% - 2.30vh) / 2);
    left: 0vw!important;
    width: 2.42vw;
    height: 2.30vh;
    // margin-top: -2vh!important;
    // margin-left: 4vw!important;
    @include margin(-2vh!important, null, null, 4vw!important);
    // background: red;
    font-size: 5vw;
    color: white !important;
  }

  .toolbar-background.toolbar-background-md,
  .toolbar-background.toolbar-background-ios {
    background: transparent;
    color: white !important;

    .back-button.bar-button {
      color: white !important;

      &.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button,
      &.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        color: white !important;
      }
    }
  }
}

ion-icon {
  &[class*="custom-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 3.2vh !important;
    height: 3.2vh !important;
  }
  // custom icons
  &[class*="custom-icon_home"] {
    mask-image: url(../assets/icon/_home.png);
  }
  &[class*="custom-icon_booking"] {
    mask-image: url(../assets/icon/_booking.png);
  }
  &[class*="custom-icon_measurement"] {
    mask-image: url(../assets/icon/_measurement.png);
  }
  &[class*="custom-icon_my_body"] {
    mask-image: url(../assets/icon/_my_body.png);
  }
  &[class*="custom-icon_more"] {
    mask-image: url(../assets/icon/_more.png);
  }
}
