<ion-content>
  <ion-card>

    <div *ngFor="let surv of survay">
      <p>{{surv.question}}</p>
      <ion-row>
        <button ion-button (click)="surv.answer.value = option.value " [ngClass]="{'outline-option': !(surv.answer.value == option.value)}" [outline]="!(surv.answer.value == option.value)" color="lava" *ngFor="let option of surv.options">{{option.text}}</button>
      </ion-row>
    </div>

    <button ion-button color="lava" class="submit" (click)="submit()">Submit</button>

  </ion-card>
</ion-content>
