page-star {
  $sch: 347.3;
  $scw: 195.5;
  // .fixed-content {
  //   z-index: -2 !important;
  // }

  .header.header-md,
  .header.header-ios {
    position: relative;
    width: 100%;
    height: 21.23vh;
    box-shadow: 0 !important;

    // background: linear-gradient(135deg, #0193a0, #21c1ca);
    background: url(../assets/imgs/booking-back.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    &:after {
      background-image: none !important;
    }

    .toolbar.toolbar-md,
    .toolbar.toolbar-ios {
      .toolbar-title.toolbar-title-md,
      .toolbar-title.toolbar-title-ios {
        color: #ffffff;
        font-weight: 400;
        font-size: 8.9 / $scw * 100vw;
      }

      ion-icon.back-button-icon.icon {
        color: white !important;
      }
    }

    .schedules {
      position: absolute;
      top: 18.22vh;
      left: 7.16vw;
      right: 7.16vw;
      height: 14.1vh;

      padding: 0;
      margin: 0;

      display: flex;
      justify-content: space-between;

      .schedule {
        position: relative;
        text-align: center;

        padding: 0;
        margin: 0;

        width: 39.28vw !important;

        background: url(../assets/imgs/lavaScheduale.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0.3em;

        box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);

        .schedule-container {
          position: relative;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.75);
          border-radius: inherit;

          button {
            position: absolute;
            top: 9 / $sch * 100vh;
            left: 31.5 / $scw * 100vw;

            padding: 0 !important;
            margin: 0 !important;

            background: rgba(227, 169, 23, 0.3) !important;
            width: 16.8 / $scw * 100vw;
            height: 16.8 / $scw * 100vw;
            border-radius: 50%;

            img {
              width: 50%;
              height: 50%;
            }
          }

          p {
            position: absolute;
            top: 34.3 / $sch * 100vh;

            font-size: 5.8 / $scw * 100vw;
            color: #575c69 !important;
            font-weight: 500;

            width: 100%;
            text-align: center;

            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }

    .scroll-content {
      position: relative;

      padding: 0 !important;
      margin: 0 !important;
      padding-top: 21.8 / $sch * 100vh !important;
      margin-top: 112.3 / $sch * 100vh !important;
      z-index: 999;

    height: 100vh - 112.3 / $sch * 100vh - 7.9vh;
    width: 100%;

    * {
      padding: 0 !important;
      margin: 0 !important;
    }

    .sessions-title {
      font-size: 8.9 / $scw * 100vw;
      color: #575c69;
      margin: 0;
      padding: 0 0 (15.5 / $sch * 100vh) (10.8 / $scw * 100vw) !important;
    }

    .services-for-booking-container {
      margin-left: 16.3 / $scw * 100vw !important;
      margin-right: 10 / $scw * 100vw !important;

      .services-for-booking {
        font-size: 4.1 / $scw * 100vw;
        color: #575c69;
        padding: (4 / $sch * 100vh) (8.5 / $scw * 100vw) !important;
        margin-right: 6 / $scw * 100vw !important;
        margin-bottom: 6.3 / $sch * 100vh !important;
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.25);
        border-radius: 0.8vw;
      }
    }

    .sessions {
      margin: (23.3 / $sch * 100vh) (23.3 / $scw * 100vw) !important;

      .session {
        border-radius: 0.25em;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);

        // background: linear-gradient(to right, #0ca3ad, #03c3d8) !important;
        background: white !important;

        margin: 0 !important;
        padding: 0 !important;

        margin-bottom: (13.8 / $sch * 100vh) !important;

        height: 33.8 / $sch * 100vh;

        display: flex;
        justify-content: center;
        align-content: center;

        ion-item {
          padding: 0;
          margin: 0;
          font-size: 0.8em;
          text-align: left;
          border-radius: 0.2em;
          background: transparent;
          h2 {
            color: #575c69;
            font-size: 7.8 / $scw * 100vw;

            margin-bottom: 3.5 / $sch * 100vh !important;
          }
          p {
            color: #bababa;
            font-size: 5.3 / $scw * 100vw;
          }




          ion-thumbnail {

            width: 19.8 / $scw * 100vw !important;
            min-width: 19.8 / $scw * 100vw !important;
            height: 17.5 / $sch * 100vh !important;
            min-height: 17.5 / $sch * 100vh !important;


            margin: (7.5 / $sch * 100vh) (15 / $scw * 100vw) !important;
            padding: 0 !important;


          }
          img {
            width: auto;
            height: inherit;
          }
        }
      }
    }
  }
}
