.ion-page.show-page {
  background: rgba(0, 0, 0, 0.5);
}
page-finish-workout {
  $sch: 347.3;
  $scw: 195.5;

  * {
    padding: 0 !important;
    margin: 0 !important;
  }

  .ion-page.show-page {
    background: rgba(0, 0, 0, 0.9) !important;
  }

  .guide-modal {
    $modal-inset-min-width: 50%;

    display: flex;
    height: 207 / $sch * 100vh;
    width: 167.5 / $scw * 100vw;
    margin-top: 73.8 / $sch * 100vh !important;
    margin-left: 14 / $scw * 100vw !important;
    background: white;
    border-radius: 5px;

    position: relative;

    .close-button {
      position: absolute;
      top: 7.5 / $sch * 100vh;
      left: 8.5 / $scw * 100vw;

      color: #bababa !important;
      font-size: 6.8 / 1.25 / $scw * 100vw;
      height: 5.3 / $sch * 100vh;
      width: 26.3 / $scw * 100vw;

      ion-icon {
        font-size: 2em;
      }
    }

    h2,
    h3 {
      position: absolute;
      top: 30 / $sch * 100vh;

      width: 100%;
      text-align: center !important;

      font-size: 12 / 1.25 / $scw * 100vw;
      color: #575c69;


    }

    h3 {
      top: (30 + 52.5) / $sch * 100vh;
      font-size: 7.8 / 1.25 / $scw * 100vw;

    }

    p.footer, p.meta {
      position: absolute;
      top: (9.5 + 52.5) / $sch * 100vh;

      text-align: center;
      width: 100%;

      font-size: 7.8 / 1.25 / $scw * 100vw;
      color: #bababa;

      &.footer {
        top: ((9.5 + 52.5) + 118) / $sch * 100vh;
        width: (95.5 / $scw * 100vw) !important;
        left: 33 / $scw * 100vw;
      }
    }

    .status {
      position: absolute;
      top: (58.5 + 52.5) / $sch * 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        background: transparent;
        height: (5.3 + 2.5 + 17.8) / $sch * 100vh;
        margin-right: 15.5 / $scw * 100vw !important;

        &:last-of-type {
          margin-right: 0 !important;
        }
      }

      img {
        width: auto;
        height: 17.8 / $sch * 100vh;
      }

      p {
        font-size: 6.8 / 1.25 / $scw * 100vw;
        color: #bababa;
        margin-top: 2.5 / $sch * 100vh !important;
      }
    }
  }
}
