.ion-page.show-page {
  background: rgba(0, 0, 0, 0.5) !important;
}
page-book {
  $sch: 347.3;
  $scw: 195.5;

  * {
    padding: 0 !important;
    margin: 0 !important;
  }

  .ion-page.show-page {
    background: rgba(0, 0, 0, 0.9) !important;
  }

  .guide-modal {
    $modal-inset-min-width: 50%;

    display: flex;
    height: 207 / $sch * 100vh;
    width: 167.5 / $scw * 100vw;
    margin-top: 73.8 / $sch * 100vh!important;
    margin-left: 14 / $scw * 100vw!important;
    background: white;
    border-radius: 5px;
    padding: 0.5em;

    position: relative;

    &.done-modal {
      height: 160.3 / $sch * 100vh;
    }

    .close-button {
      position: absolute;
      top: 7.5 / $sch * 100vh;
      left: 8.5 / $scw * 100vw;

      color: #bababa !important;
      font-size: 6.8 / 1.25 / $scw * 100vw;
      height: 5.3 / $sch * 100vh;
      width: 26.3 / $scw * 100vw;

      ion-icon {
        font-size: 2em;
      }
    }

    h2,
    h3 {

      position: absolute;
      top: 30 / $sch * 100vh;

      width: 100%;
      text-align: center !important;

      font-size: 12 / 1.25 / $scw * 100vw;
      color: #575c69;
    }

    p {

      position: absolute;
      top: 142.5 / $sch * 100vh;

      text-align: center;
      width: 100%;

      font-size: 6.8 / 1.25 / $scw * 100vw;
      color: #bababa;
    }

    .book-button {
      position: absolute;
      top: 168.3 / $sch * 100vh;

      background: linear-gradient(to right, #0ca3ad, #03c3d8) !important;
      margin: 0 auto;

      width: 71.8 / $scw * 100vw;
      height: 23 / $sch * 100vh;

      font-size: 7.8 / 1.25 / $scw * 100vw;
      color: #ffffff!important;
    }

    .shadow-input {
      position: absolute;
      top: 98.3 / $sch * 100vh;
      left: 22 / $scw * 100vw;

      width: 128.3 / $scw * 100vw;
      height: 23 / $sch * 100vh;

      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
      border-radius: 0.2em;

      display: flex;
      justify-content: center;
      align-items: center;

      &:first-of-type {
        top: 62 / $sch * 100vh;
      }

      ion-input {
        color: #bababa;
        font-size: 7.8 / 1.25 / $scw * 100vw;
      }

      ::placeholder {
        font-size: 7.8 / 1.25 / $scw * 100vw;
        color: #bababa;
        text-align: center;
        font-weight: lighter;
      }
    }
  }

  .done {



    img {
      position: absolute;
      top: 29.3 / $sch * 100vh;
      left: 61.3 / $scw * 100vw;

      width: auto;
      height: 39.8 / $sch * 100vh;
    }

    h2 {
      position: absolute;
      top: 94 / $sch * 100vh;
      width: 100%;
      text-align: center;

      color: #575c69;
      font-size: 12 / 1.25 / $scw * 100vw;



    }

    p {
      position: absolute;
      top: 122.8 / $sch * 100vh;
      width: 100%;
      text-align: center;


      color: #bababa;
      font-size: 6.8 / 1.25 / $scw * 100vw;

    }
  }
}
