<ion-content class="guide-modal" [ngClass]="{'done-modal': done}">

  <div *ngIf="!done">
    <ion-row justify-content-start>
      <button class="close-button" ion-button clear (click)="close()">
        <ion-icon name="close"></ion-icon> close</button>
    </ion-row>
    <ion-row>
      <h2 *ngIf="_book == 'session'">Book a Session</h2>
      <h2 *ngIf="_book == 'class'">Book a Class</h2>
    </ion-row>

    <form *ngIf="_book == 'class'" [formGroup]="reserveExerciseForm" (ngSubmit)="book()">
      <ion-row justify-content-center class="shadow-input">
        <ion-col col-9 align-self-left>
          <ion-select #branch [compareWith]="compareFn" formControlName="Branch" text-center
            style="width: 100%; margin: 0; max-width: 100%; color: #999!important;">

            <ion-option style="width: 100%; margin: 0; " [value]="null">Choose a Branch</ion-option>
            <ion-option *ngFor="let branch of (branches$ | async)?.data" [value]="branch" style="width: 100%; margin: 0; max-width: 100%; color: #999!important; background-color: red">
              {{branch.NameEN}}
            </ion-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row justify-content-center class="shadow-input">
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="Date" [min]="nowDate"></ion-datetime>

      </ion-row>

      <!-- <ion-row justify-content-center class="shadow-input-l shadow-input">

        <ion-col col-9 align-self-left>
          <ion-input [readonly]="true" [value]="selectedClassDate?.CoachName || 'Coach'" #coach text-center style="width: 100%; margin: 0; max-width: 100%; color: #999!important;">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row justify-content-center class="shadow-input-ll shadow-input">

        <ion-col col-9 align-self-left>
          <ion-input [readonly]="true" [value]="selectedClassDate?.BranchName || 'Branch'" #coach text-center style="width: 100%; margin: 0; max-width: 100%; color: #999!important;">
          </ion-input>
        </ion-col>
      </ion-row> -->


      <ion-row justify-content-center>
        <button [disabled]="!reserveExerciseForm?.valid" ion-button class="book-button">Search Now</button>
      </ion-row>

    </form>




















    <form *ngIf="_book == 'session'" [formGroup]="reserveSessionForm" (ngSubmit)="book()">

      <ion-row justify-content-center class="shadow-input">
        <ion-col col-9 align-self-left>
          <ion-select #branch (ionChange)="selectChanges(branch.value)" [compareWith]="compareFn" formControlName="Branch" text-center
            style="width: 100%; margin: 0; max-width: 100%; color: #999!important;">

            <ion-option style="width: 100%; margin: 0; " [value]="null">Choose a Branch</ion-option>
            <ion-option *ngFor="let branch of (branches$ | async)?.data" [value]="branch" style="width: 100%; margin: 0; max-width: 100%; color: #999!important; background-color: red">
              {{branch.NameEN}}
            </ion-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row justify-content-center class="shadow-input">
          <ion-col col-9 align-self-left>
            <ion-select #massager [compareWith]="compareFn" formControlName="Massager" text-center
              style="width: 100%; margin: 0; max-width: 100%; color: #999!important;">

              <ion-option style="width: 100%; margin: 0; " [value]="null">Choose a Massager</ion-option>
              <ion-option *ngFor="let massager of (massagers$ | async)?.data" [value]="massager" style="width: 100%; margin: 0; max-width: 100%; color: #999!important; background-color: red">
                {{massager.FullNameEN}}
              </ion-option>
            </ion-select>
          </ion-col>
        </ion-row>

      <ion-row justify-content-center class="shadow-input shadow-input-l">
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="Date" [min]="nowDate"></ion-datetime>

      </ion-row>
      <!--
        <ion-row justify-content-center class="shadow-input-l shadow-input">

          <ion-col col-9 align-self-left>
            <ion-input [readonly]="true" [value]="selectedSessionDate?.MassagerName || 'Massager'" #coach text-center style="width: 100%; margin: 0; max-width: 100%; color: #999!important;">
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center class="shadow-input-ll shadow-input">

          <ion-col col-9 align-self-left>
            <ion-input [readonly]="true" [value]="selectedSessionDate?.BranchName || 'Branch'" #coach text-center style="width: 100%; margin: 0; max-width: 100%; color: #999!important;">
            </ion-input>
          </ion-col>
        </ion-row>
 -->


      <ion-row justify-content-center>
        <button [disabled]="!reserveSessionForm?.valid" ion-button class="book-button">Search now</button>
      </ion-row>

    </form>
  </div>

  <div *ngIf="done" class="done">
    <img src="assets/imgs/_confirmed@2x.png">
    <h2>Thank you!</h2>
    <p>your booking has been booked.</p>
  </div>

</ion-content>
