<!--
  Generated template for the ClassesBookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [dir]="lang">

  <ion-navbar>
    <ion-title>{{"My booking" | translate}}</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectedType" color="light">
      <ion-segment-button value="classes">
        {{"Classes"| translate}}
      </ion-segment-button>
      <ion-segment-button value="sessions">
        {{"Sessions" | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding [dir]="lang">

  <div [ngSwitch]="selectedType">
    <div *ngSwitchCase="'classes'">
      <ion-card *ngFor="let class of classeReservations?.data">

        <ion-card-header [ngClass]="{'disabled': !(class.Date | isNew)}">

          <ion-row>
            <ion-col col-9>
              <div>
                <p>
                  <span>{{"Class" | translate}}:</span> {{class.ExerciseTitle}}</p>
                <p>
                  <span>{{"Branch" | translate}}:</span> {{class.BranchName}}</p>
              </div>
            </ion-col>

            <ion-col col-3>
              <button (click)="cancelExercice(class.ID)" ion-button clear>


                <p>
                  <span *ngIf="class.Date | isNew">{{"Cancel" | translate}}</span>
                </p>
              </button>
            </ion-col>
          </ion-row>

        </ion-card-header>
        <ion-card-content padding>
          <p>
            <span>{{"Coach" | translate}}:</span> {{class.CoachName}}</p>
          <p>
            <span>{{"Duration" | translate}}:</span> {{class.Duration}}</p>
          <p>
            <span>{{"Date" | translate}}:</span> {{class.Date}}</p>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="classeReservations?.data?.length && classeReservations?.data?.length < 1">

        <ion-card-header class="info">
          <p>
            <span>{{"Info" | translate}}:</span> {{"No items available for now" | translate}}</p>
        </ion-card-header>
        <ion-card-content padding>
          <p>
            {{"You have to reserve a classe first" | translate}}</p>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'sessions'">
      <ion-card *ngFor="let service of serviceReservations?.data">

        <ion-card-header [ngClass]="{'disabled': !(service.Date | isNew)}">
          <ion-row>
            <ion-col col-9>
              <div>
                <p>
                  <span>{{"service" | translate}}:</span> {{"Message" | translate}}</p>
                <p>
                  <span>{{"Branch" | translate}}:</span> {{service.BranchName}}</p>
              </div>
            </ion-col>

            <ion-col col-3>
              <button (click)="cancelService(service.ID)" ion-button clear>
                <p>
                  <span *ngIf="service.Date | isNew">{{"Cancel" | translate}}</span>
                </p>
              </button>
            </ion-col>
          </ion-row>



        </ion-card-header>
        <ion-card-content padding>
          <p>
            <span>{{"Massager" | translate}}:</span> {{service.MassagerName}}</p>
          <p>
            <span>{{"Date" | translate}}:</span> {{service.Date}}</p>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="serviceReservations?.data?.length && serviceReservations?.data?.length < 1">

        <ion-card-header class="info">
          <p>
            <span>{{"Info" | translate}}:</span> {{"No items available for now" | translate}}</p>
        </ion-card-header>
        <ion-card-content padding>
          <p>
            {{"You have to reserve a service first" | translate}}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>



</ion-content>
