<!--
  Generated template for the ClassesBookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My booking</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedType" color="light">
      <ion-segment-button value="classes">
        Classes
      </ion-segment-button>
      <ion-segment-button value="sessions">
        Sessions
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <div [ngSwitch]="selectedType">
    <div *ngSwitchCase="'classes'">
      <ion-card *ngFor="let class of (classeReservations$ | async)?.data">

        <ion-card-header [ngClass]="{'disabled': !(class.Date | isNew)}">

          <ion-row>
            <ion-col col-9>
              <div>
                <p>
                  <span>Class:</span> {{class.ExerciseTitle}}</p>
                <p>
                  <span>Branch:</span> {{class.BranchName}}</p>
              </div>
            </ion-col>

            <ion-col col-3>
              <button (click)="cancelExercice(class.ID)" ion-button clear>


                <p>
                  <span *ngIf="class.Date | isNew">Cancel</span>
                </p>
              </button>
            </ion-col>
          </ion-row>

        </ion-card-header>
        <ion-card-content padding>
          <p>
            <span>Coach:</span> {{class.CoachName}}</p>
          <p>
            <span>Duration:</span> {{class.Duration}}</p>
          <p>
            <span>Date:</span> {{class.Date}}</p>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="(classeReservations$ | async)?.data?.length && (classeReservations$ | async)?.data?.length < 1">

        <ion-card-header class="info">
          <p>
            <span>Info:</span> No items available for now</p>
        </ion-card-header>
        <ion-card-content padding>
          <p>
            You have to reserve a classe first</p>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'sessions'">
      <ion-card *ngFor="let service of (serviceReservations$ | async)?.data">

        <ion-card-header [ngClass]="{'disabled': !(service.Date | isNew)}">
          <ion-row>
            <ion-col col-9>
              <div>
                <p>
                  <span>service:</span> Message</p>
                <p>
                  <span>Branch:</span> {{service.BranchName}}</p>
              </div>
            </ion-col>

            <ion-col col-3>
              <button (click)="cancelService(service.ID)" ion-button clear>
                <p>
                  <span *ngIf="service.Date | isNew">Cancel</span>
                </p>
              </button>
            </ion-col>
          </ion-row>



        </ion-card-header>
        <ion-card-content padding>
          <p>
            <span>Massager:</span> {{service.MassagerName}}</p>
          <p>
            <span>Date:</span> {{service.Date}}</p>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="(serviceReservations$ | async)?.data?.length && (serviceReservations$ | async)?.data?.length < 1">

        <ion-card-header class="info">
          <p>
            <span>Info:</span> No items available for now</p>
        </ion-card-header>
        <ion-card-content padding>
          <p>
            You have to reserve a service first</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>



</ion-content>
